body {
	background-color: #f5f5f5;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
	font-size: 1.75em;
	font-weight: 700;
  color: rgba(250, 250, 250, .99 );
}

img  {
	width: 1.5em;
}

p {
	font-size: 2.5em;
	line-height: 1.5em;
  color: rgba(0, 0, 0, .87);
}

.wrapper {
  width: 100%;
  margin: 0 auto;
}

#two_column {
  padding: 1.25em 51.9em;
  background-color: #696969;
  max-width: 900px;
  margin: 0 auto;
}

#left {
	padding: 1.25em;
  float: left;
  width: 15em;
}

#right {   
    padding: 1.25em;
    width: 7em;
    margin-left: auto; 
    margin-right: auto;
    float: right;

     text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
}

#right a {
    vertical-align: top;
    display: inline-block;
    *display: inline;
    zoom: 1;
}

.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}


.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

#one_column {
  padding: 5em 45em 1.25em 45em;
  margin: 0 auto;
  max-width: 900px;

}

#top {
	padding: 1.25em;
}

#top a {
  border-bottom: 2px solid currentColor; 
  text-decoration: none;
}

#top a:hover {
  border-bottom: none;
}

#main {
	padding: 1.25em;
  margin: 0 auto;
  display: block;
}

#current_span {
  padding: 1.25em 1.25em .5em 1.25em;

}

#current_container {
  padding: 0 1.25em 1.25em 1.25em;
}

#current {
  color: rgba(0, 0, 0, .54);
  font-size: 1.5em; 
  font-weight: 700;
 
}

#temp {
	padding: 1.25em;
  max-width: 700px;
  
}

#temp p {
	font-size: 1.25em;
}

#button_container {
	   padding: .25em 53.25em
}

#button {
	padding: 1em 2em;
  background-color: #1D86FF;
  text-align: center;
  box-shadow: 0 3px 10px -3px #777;
  border-radius: 8px;
  color: white;
  font-size: 1.15em;
  text-decoration: none;
}

#button:hover {
	color: #1D86FF;
	background-color: white;
	box-shadow: none;
}

#button:active {
	color: white;
	background-color: #0076FF;
	box-shadow: none;
}

#footer {
  padding: 1.25em;
  
}

#footer_box {
  padding: 3em 52em 1.25em;
  max-width: 900px;
}

#footer_box p {
  font-size: 1em;
  color: rgba(0, 0, 0, .34);
}

/* MEDIA QUERIES */

/* Wide Screen */

/*
@media only screen and (max-width: 1880px) {
  #two_column {
    padding: 1.25em 25em;
  }

  #right {
    width: 7em;
  }

  #one_column {
      padding: 5em 25em 1.25em 25em;
  }

  #button_container {
      padding: .25em 26.25em;
  }

  #footer_box {
      padding: 3em 45em 1.25em 25em;
  }

}
*/
/* LARGE LAPTOP */
@media only screen and (max-width: 1440px) {
  #two_column, #one_column, #footer_box {
    padding: 1.25em 20em;
  }

  #left {
    width: 50%;
  }

  #right {
    width: 15%;
  }

  #button_container {
    padding: .25em 21.25em;
  }

}

/* LAPTOP */
@media only screen and (max-width: 1024px) {
  #two_column, #one_column, #footer_box {
    padding: 1.25em 7em;
}

  #right {
    width: 15%;
}

  #button_container {
    padding: .25em 8.25em;
  }

}

/* VERTICAL IPAD */
@media only screen and (max-width: 768px) {
  #right {
    width: 18%;
  }

  #two_column, #one_column, #footer_box {
    padding: 1.25em 3em;
  }

  #button_container {
    padding: .25em 4.3em;
  }

}

/* L MOBILE */
@media only screen and (max-width: 425px) {
  h1 {
    font-size: 1.5em;
  }

  #two_column, #one_column, #footer {
    padding: .5em;
  }

  #left {
    width: 50%;
  }

  #right {
    width: 27%;
  }

  #top, #main, #current_container {
    font-size: .9em;
  }

  #current_span {
    font-size: .75em;
    padding-left: 1.5em;
  }

  #temp {
    padding-bottom: 2em;
  }

  #button_container {
    padding-left: 1.7em;
  }

  #footer_box {
    padding: 2.25em 1.25em;
  }

}


/* M MOBILE */
@media only screen and (max-width: 375px) {
  
  h1 {
    font-size: 1.25em;
  }

  #two_column, #one_column, #footer {
    padding: .5em;
  }

  #left {
    width: 40%;
    padding-right: 0;
  }

  #right {
    width: 30%;
    padding-left: 0;
  }

  #current_span {
    padding-left: 1.5em;
  }

  #button_container {
    padding-left: 1.7em;
  }

}

/* S MOBILE */
@media only screen and (max-width: 320px) {
  #two_column, #one_column, #footer {
    padding: .5em;
  }

  #left {
    width: 100%;
  }

  #right {
    width: 100%;
    padding-left: 1.25em;
    float: none;
    text-align: left;
  }

  #right a {
    padding-right: 5%;
  }

 #top, #main, #current_container {
    font-size: .7em;
  }

  #current_span {
    font-size: .7em;
  }

  #temp {
    padding:  1em;
  }

  #temp p {
    font-size:  1em;
  }
  #button_container {
    padding-left: 1.5em;
    padding-top: 1em;
  }

  #footer_box p {
    font-size: .9em;
  }


}




