body {
	background-color: #f5f5f5;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
	font-size: 20px;
	font-weight: 700;
  color: rgba(0, 0, 0, .58);
}

img  {
	width: 24px;
}

p {
	font-size: 36px;
	line-height: 1.5em;
  color: rgba(0, 0, 0, .87);
}


#two_column {
  padding: 20px;
  background-color: #E0E0E0;
}

#left {
	padding: 20px;
  float: left;
  width: 30%;
}

#right {   
    padding: 20px;
    width: 120px;
    margin-left: auto; 
    margin-right: auto;
    float: right;

     text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
}

#right a {
    vertical-align: top;
    display: inline-block;
    *display: inline;
    zoom: 1;
}

.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}


.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

#one_column {
  padding: 20px;
  width: 100%;

}

#top {
	padding: 20px;
  max-width: 1024px;
 
}

#main {
	padding: 20px;
  max-width: 1024px;
  
}

#current_container {
  font-size: 
}

#current {
  color: rgba(0, 0, 0, .54);
  font-size: 28px; 
  font-weight: 700;
}

#temp {
	padding: 20px;
  max-width: 700px;
  
}

#temp p {
	font-size: 18px;
}

#button_container {
	padding: 10px 40px;
}

#button {
	padding: 15px 30px;
  background-color: #1D86FF;
  text-align: center;
  margin-top: 100px;
  box-shadow: 0 5px 30px -3px #777;
  border-radius: 8px;
  color: white;
  font-size: 18px;
  text-decoration: none;
}

#button:hover {
	color: #1D86FF;
	background-color: white;
	box-shadow: none;
}

#button:active {
	color: white;
	background-color: #0076FF;
	box-shadow: none;
}