body {
	background-color: #333333;
}

header {
  background-color: #ffed74;
  border: 1px black solid;
  padding: 20px;
}

nav {
  background-color: #e8c66a;
  border: 1px black solid;
  padding: 20px;
}

section {
  background-color: #FFE2B8;
  border: 1px black solid;
  padding: 20px;
}

article {
  background-color: #E89C6C
  border: 1px black solid
  padding: 20px;
}

div {
  background-color: #FFE2B8;
  border: 1px black solid;
  padding: 20px;
}

footer {
  background-color: #ff957e;
  border: 1px black solid;
  padding: 20px;
}

h1, h2, h3, p, a, ul {
	color: #FF0000;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}

h2, p, ul {
	font-size: 32px;
}

h3 {
	font-weight: 400;
	font-size: 24px;
}

ul {
	font-size: 24px;
	line-height: 1.5em;
}

#title {
	font-size: 64px;
	font-weight: 800;
	padding-top: 48px;
}

img {
    display: block;
    margin: 0 auto;
    padding-bottom: 48px;
    padding-top: 48px;
}

div.container {
   height: 10em;
   position: relative;
   display: block;
}

div.container p {
	margin: 0;
    position: absolute;
    max-width: 600px;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

div.container2 {
   height: 10em;
   position: relative;
   display: block;
   padding-top: 50px;
}

div.container2 ul {
	margin: 0;
    position: absolute;
    max-width: 600px;
    text-align: center;
    list-style-type: none;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.image { 
   position: relative; 
   width: 100%; 
}

h2 { 
   position: absolute; 
   text-align: left;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

#contact {
	font-size: 24px;
	display: block;
    margin: 0 auto;
    padding-top: 24px;
}

#two_column {
  background-color: #ffb7cf;
  border: 1px black solid;
  padding: 20px;
}

#left {
  background-color: #e582a2;
  border: 1px black solid;
  padding: 20px;
  float: left;
  width: 30%;
}

#right {
  background-color: #e55b88;
  border: 1px black solid;
  padding: 20px;
  float: right;
  width: 62%
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}


















