body {
	background-color: #333333;
}

h1, h2, h3, p, a, ul {
	color: #e8e8e8;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}

h2, p, ul {
	font-size: 2em;
}

h2 { 
  font-size: 1.5em;
  line-height: 1.5em;
  color: black;
  position: absolute;
  text-align: left;
  top: .5%;
  left: .5%;
  width: 14.5em;
  margin-right: -50%;
  background-color: white;
  padding: 1%;
  /*
  transform: translate(-50%, -50%)
  */
}

h3 {
	font-weight: 400;
	font-size: 1.5em;
}

ul {
	font-size: 1.5em;
	line-height: 1.5em;
}

a {
  color: #f56565;
  border-bottom: 1px solid currentColor;
  text-decoration: none;
}

a:hover {
  border-bottom: none;
}

img {
    display: block;
    margin: 0 auto;
    padding-bottom: 5%;
    padding-top: 5%;
}

.wrapper {
  width: 100%; 
}

/* --- HEADER STUFF --- */

#two_column {
  padding: 1%;
}

#header_left {
  padding: 1%;
  float: left;
  width: 50%; 
}

#title {
  color: #f56565;
  font-size: 3em;
  font-weight: 800;
  text-align: left;
  float: left;
  padding-right: 4%;
}

#header_icon {
  margin: 0;
  padding: 0;
  float: left;
  vertical-align: top;
}

#header_right {
  padding: 2%;
  float: right;
  width: 30%;

}

#header_right h3 {
  text-align: right;
  float: left;
  width: 33.33333%;
}

#top {
  padding-top: 5%;
}

#top p {
  font-size: 4em;
  line-height: 1.5em;
}

#button_container {
  width: 100%;
  margin-top: 4%;
  text-align: center;  
}

#button {
  padding: 20px 30px;
  background-color: #f56565;
  text-align: center;
  margin: 0 auto;
  box-shadow: 0 5px 30px -3px #000;
  border-radius: 8px;
  color: black;
  font-size: 1.75em;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
}

#button:hover {
  color: #f56565;
  background-color: black;
  box-shadow: none;
  margin-bottom: 2px;
}

#button:active {
  color: black;
  background-color: yellow;
  box-shadow: none;
}

#hero {
  width: 100%;
  padding-bottom: 1%;
}

/* --- INGREDIENTS SECTION --- */

.container {
   height: 10em;
   position: relative;
   display: block;
}

.container p {
    margin: 0;
    position: absolute;
    width: 70%;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 2.5em;
    line-height: 1.5em;
}

#ingredient_container {
  padding-top: 5%;
  padding-bottom: 5%;
}

#three_column {
  padding: 1%;
}

#left_ingredient {
  padding: 1%;
  float: left;
  width: 30%;
}

#middle_ingredient {
  padding: 1%;
  float: left;
  width: 30%;
}

#right_ingredient {
  padding: 1%;
  float: left;
  width: 30%;
}



/* --- MAP SECTION --- */

.map_container { 
   position: relative; 
   width: 100%; 
   margin: 0 0 5% 0;
}

/*
#map-text-bg {
  background-color: yellow;
  position: absolute; 
  text-align: left;
  top: 2%;
  left: 2%;
  margin-right: -50%;
}
*/


/* --- FOOTER --- */

#footer_left {
  padding: 1%;
  float: left;
  width: 30%;
  display: block;
  text-align: left;
}

#footer_left p {
  font-size: 1.5em;
  text-align: left;
  padding-bottom: 3%;
}

#contact {
  font-size: 1.5em;
  margin: 0 auto;
  padding-top: 24px;
  text-align: left;
  width: auto;
}

#contact p {
  font-size: 2em;
}

#footer_right {
  padding: 1%;
  float: right;
  width: 30%;
  display: inline;
}


#footer_right p {
  font-size: 1.5em;
  text-align: left;
  vertical-align: top;
}

#footer_right img {
  margin: 0;
  padding-top: 10%;
  float: left;
  vertical-align: top;
  width: 3em;
}

 #left-social-box {
  margin-top: 3%;
  width: 50%;
  float: left;
 }

#right-social-box {
  margin-top: 3%;
  width: 50%;
  float: left;
}

#bottom-bar {
  width: 100%;
  height: 4em;
  background-color: #f56565;
  line-height: 4em;
  text-align: center;
  margin-top: 4em;
}

#bottom-bar p {
  font-size: 1em;
  color: #333333;
  display: inline-block;
  vertical-align: middle;
  line-height: normal; 
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}


/* MEDIA QUERIES */

/* LAPTOP */
@media only screen and (max-width: 1024px) {

    #header_right  {
        width: 40%;
        text-align: right;
    }

    #top p {
      font-size: 3.5em;
    }

    #ingredient_container {
      padding-top: 3%
    }

    .container p {
      font-size: 2em;   
    }

    #three_column p {
      font-size: 1.5em;
    }

    #footer_left p {
      font-size: 1.25em;
    }

    #contact {
      font-size: 1.25em;
    }

    #footer_right p {
      font-size: 1.25em;
    }

    #footer_right img {
       margin: 0;
        padding-top: 10%;
      float: left;
      vertical-align: top;
      width: 2.5em;
    } 

}

/* TABLET VERTICAL */
@media only screen and (max-width: 768px) {
    #title {
      font-size: 2em;
    }

    #header_icon {
      width: 2.25em;
    }

    #header_right {
      width: 43%;
    }

    #header_right h3 {
      font-size: 1.25em;
    }

     #top p {
      font-size: 2.5em;
    }

    #button {
      font-size: 1.25em;
    }

    .container p {
      font-size: 1.75em;
      
    }

    #three_column p {
      font-size: 1.25em;
    }

    h2 {
      font-size: 1em;

    }
}

/* LARGE MOBILE */
@media only screen and (max-width: 425px) {
    #header_left {
      width: 100%;
      display: block;
      margin: 0 10% 0 13%;
      text-align: center;
    }

    #header_right {
     text-align: center;
      width: 92%;
     float: left;
    }

    #header_right h3 {
      text-align: right;
      float: left;
      width: 33.33333%;
    }

    #top p {
      font-size: 2em;
      margin: 3% 0 5% 0;
    }

    #button_container {
      margin-bottom: 5%;
    }

    #button {
      font-size: 1em;
    }

    .container p {
      font-size: 1.3em;
      
    }

    #three_column {
      margin-bottom: 5%;
    }

    #three_column img {
      margin-bottom: 1em;
    }

    #three_column p {
      font-size: 1em;
    }

    #two_column {
      margin-top: 5%;
    }

    #two_column p {
      font-size: 1em;
    }

    #footer_left {
      width: 100%;
    }

    #contact {
      font-size: 1em;
    }

    #footer_right {
      width: 100%;
      padding: 1%;
      float: left;
      display: block;
      margin-top: 5%;
      padding-left: 1%;
    }

    #footer_right img {
      padding-top: 5%;
    }

    #bottom-bar {
      margin-top: 2.5em;
    }

}


/* MEDIUM MOBILE */
@media only screen and (max-width: 375px) {
    
    #header_left {
      margin-left: 7%;
      margin-bottom: 3%;
    }

    #header_right {
      width: 94%;
    }

    #top p {
      font-size: 1.75em;
    }

    #button_container {
      margin: 7% 0;
    }

    #button {
          padding: 5% 6%;
    }

    #three_column p {
      line-height: 1.35em;
    }

    #footer_left {
      margin: 0 5%;
    }

    #footer_right {
      margin: 5% 5%;
    }

    #bottom-bar {
      margin-top: 2%;
    }
}

/* SMALL MOBILE */
@media only screen and (max-width: 320px) {

  #header_left {
    font-size: .8em;
    margin-left: 10%;
  }

  #header_right {
    font-size: .9em;
  }

  #top p {
    font-size: 1.5em;
  }

  .container p {
    font-size: 1.1em;
  }

  #three_column img {
    width: 2.5em;
  }

  #three_column p {
    font-size: .9em;
  }

}
























