body {
	background-color: #333333;
}

h1, h2, h3, p, a, ul {
	color: #e8e8e8;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}

h2, p, ul {
	font-size: 2em;
}

h2 { 
  font-size: 1.5em;
  line-height: 1.5em;
  color: black;
  position: absolute; 
  text-align: left;
  top: 2%;
  left: 2%;
  margin-right: -50%;
  /*
  transform: translate(-50%, -50%)
  */
}

h3 {
	font-weight: 400;
	font-size: 24px;
}

ul {
	font-size: 24px;
	line-height: 1.5em;
}

a {
  color: #f56565;
  border-bottom: 1px solid currentColor;
  text-decoration: none;
}

a:hover {
  border-bottom: none;
}

img {
    display: block;
    margin: 0 auto;
    padding-bottom: 5%;
    padding-top: 5%;
}

.wrapper {
  width: 100%; 
}

/* --- HEADER STUFF --- */

#two_column {
  padding: 1%;
}

#header_left {
  padding: 1%;
  float: left;
  width: 30%; 
}

#title {
  color: #f56565;
  font-size: 3em;
  font-weight: 800;
  text-align: left;
  float: left;
  padding-right: 4%;
}

#header_icon {
  margin: 0;
  padding: 0;
  float: left;
  vertical-align: top;
}

#header_right {
  padding: 2%;
  float: right;
  width: 30%;
}

#header_right h3 {
  text-align: right;
  float: left;
  padding-left: 5%;
}

#top {
  padding-top: 5%;
}

#top p {
  font-size: 4em;
  line-height: 1.5em;
}

#button_container {
  width: 100%;
  margin-top: 4%;
  text-align: center;  
}

#button {
  padding: 20px 30px;
  background-color: #f56565;
  text-align: center;
  margin: 0 auto;
  box-shadow: 0 5px 30px -3px #000;
  border-radius: 8px;
  color: black;
  font-size: 24px;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
}

#button:hover {
  color: #f56565;
  background-color: black;
  box-shadow: none;
}

#button:active {
  color: black;
  background-color: yellow;
  box-shadow: none;
}

#hero {
  width: 100%;
  padding-bottom: 1%;
}

/* --- INGREDIENTS SECTION --- */

.container {
   height: 10em;
   position: relative;
   display: block;
}

.container p {
    margin: 0;
    position: absolute;
    width: 70%;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 2.5em;
    line-height: 1.5em;
}

#ingredient_container {
  padding-top: 5%;
  padding-bottom: 5%;
}

#three_column {
  padding: 1%;
}

#left_ingredient {
  padding: 1%;
  float: left;
  width: 30%;
}

#middle_ingredient {
  padding: 1%;
  float: left;
  width: 30%;
}

#right_ingredient {
  padding: 1%;
  float: left;
  width: 30%;
}


/*
div.container2 {
   height: 10em;
   position: relative;
   display: block;
   padding-top: 50px;
}

div.container2 ul {
	margin: 0;
    position: absolute;
    max-width: 600px;
    text-align: center;
    list-style-type: none;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

*/


/* --- MAP SECTION --- */

.map_container { 
   position: relative; 
   width: 100%; 
   margin: 0 0 5% 0;
}

/*
#map-text-bg {
  background-color: yellow;
  position: absolute; 
  text-align: left;
  top: 2%;
  left: 2%;
  margin-right: -50%;
}
*/

/* --- FOOTER --- */


#footer_left {
  padding: 1%;
  float: left;
  width: 30%;
  display: block;
  text-align: left;
}

#footer_left p {
  font-size: 1.5em;
  text-align: left;
  padding-bottom: 3%;
}

#contact {
  font-size: 1.5em;
  margin: 0 auto;
  padding-top: 24px;
  text-align: left;
  width: auto;
}

#contact p {
  font-size: 2em;
}



#footer_right {
  padding: 1%;
  float: right;
  width: 30%;
  display: inline;
}


#footer_right p {
  font-size: 1.5em;
  text-align: left;
  vertical-align: top;
  
}

#footer_right img {
  margin: 0;
  padding-top: 5%;
  float: left;
  vertical-align: top;
}

/*
#footer_right a {

}



 
 */

 #left-social-box {
  margin-top: 3%;
  width: 50%;
  float: left;
 }

#right-social-box {
  margin-top: 3%;
  width: 50%;
  float: left;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

/*
#footer_right p:nth-child(2) {
  float: left;
  padding-bottom: 1%;
}

#footer_right p:nth-child(3) {
  float: left;
  padding-bottom: 1%;
}
*/



























